/* Globals */
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.row {
  display: table;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Row Clearfix */
.row::before,
.row::after {
  display: table;
  content: "";
}

.row::after {
  clear: both;
}

html {
  font-family: "Open Sans", sans-serif;
  color: #333;
  margin: 0px;
  padding: 0px;
  background-color: #c8e9e7;
}

body {
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
}

/******************* Mobile defaults *********************/

.nav,
.list,
.edits {
  display: block;
  width: 100%;
}

main {
  font-size: 14px;
}

.nav {
  background-color: #f2ebe2;
}

.list {
  background-color: #fcf6ec;
}

.edits {
  background-color: #fff;
}

/* **************  Non-mobile, grid ******************* */
@media only screen and (min-width: 640px) {
  .nav {
    display: table-cell;
    width: 25%;
    background-color: #f2ebe2;
    margin: 0px;
    padding: 5px;
  }
  .list {
    display: table-cell;
    width: 30%;
    background-color: #fcf6ec;
    margin: 0px;
    padding: 0px;
  }
  .edits {
    display: table-cell;
    width: 45%;
    background-color: #fff;
    margin: 0px;
    padding: 20px;
  }

  main {
    font-size: 14px;
  }

  .nav ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }

  .nav ul li {
    display: block;
    margin: 0px;
    padding: 10px;
  }

  .nav header {
    background: #ddcdbb;
    padding: 5px 0px 5px 20px;
  }

  .landingPage {
    padding-top: 40px;
    margin: 0 auto;
    width: 600px;
    text-align: center;
  }

  .action_pages {
    padding-top: 40px;
    margin: 0 auto;
    width: 600px;
  }

  .center {
    text-align: center;
  }

  input[type="text"],
  input[type="password"] {
    width: 90%;
    padding: 15px;
    margin: 5px 0px 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    position: relative;
    font-size: 14px;
  }

  input[type="text"]:focus,
  input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
  }

  input[type="textarea"] {
    width: 90%;
    padding: 15px;
    margin: 5px 0px 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    position: relative;
    font-size: 14px;
  }

  input[type="textarea"]:focus {
    background-color: #ddd;
    outline: none;
  }

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  label {
    font-size: 16px;
  }

  button {
    background-color: #4caf50;
    padding: 10px 0px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 14px;
  }

  button:hover {
    opacity: 1;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .form-container {
    background: #fff;
    padding: 20px;
  }

  .createAccount-btn {
    background: #4c9794;
    width: 300px;
    height: 40px;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 14px;
  }

  .signIn-btn {
    background: #7accc8;
    width: 300px;
    height: 40px;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 14px;
  }

  .list header {
    padding: 10px;
    background-color: #fcf6ec;
    text-align: center;
    font-weight: bold;
  }

  .list ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }

  .list ul li {
    display: block;
    margin: 0px;
    padding: 15px;
  }

  .list ul li:nth-child(even) {
    background-color: #4c9794;
  }

  .list ul li:nth-child(odd) {
    background-color: #7accc8;
  }

  .list h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -5px;
  }

  footer {
    padding: 30px;
    font-size: 11px;
    text-align: center;
  }
}
