/* Globals */
*,
*:before,
*:after {
  box-sizing: inherit;
}

.row {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Row Clearfix */
.row::before,
.row::after {
  display: table;
  content: "";
}

.row::after {
  clear: both;
}

.col-3,
.col-4,
.col-6,
.col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

html {
  font-family: "Open Sans", sans-serif;
  color: #444;
  margin: 0px;
  padding: 0px;
  background-color: #c8e9e7;
}

body {
  padding: 0px;
  margin: 0px;
}

/* Mobile defaults */
.col-3,
.col-4,
.col-6,
.col-12 {
  width: 100%;
}

main {
  font-size: 14px;
}

.static {
  background-color: #f2ebe2;
}

.dynamic-1 {
  background-color: #fcf6ec;
}

.dynamic-2 {
  background-color: #fff;
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-6 {
    width: 50%;
  }
  .col-12 {
    width: 100%;
  }

  main {
    font-size: 14px;
  }
  .landingPage {
    padding-top: 50px;
    margin: 0 auto;
    width: 600px;
    text-align: center;
  }

  .action_pages {
    padding-top: 50px;
    margin: 0 auto;
    width: 600px;
  }

  .center {
    text-align: center;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 20px 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    position: relative;
  }

  input[type="text"]:focus,
  input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
  }

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  button:hover {
    opacity: 1;
  }

  .cancelbtn {
    padding: 10px;
    background-color: #f44336;
  }

  .cancelbtn,
  .signupbtn {
    float: left;
    width: 50%;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .form-container {
    background: #fff;
    padding: 16px;
  }

  .createAccount-btn {
    background: #4c9794;
    width: 300px;
    height: 40px;
    border: none;
    padding: 5px;
    cursor: pointer;
  }

  .signIn-btn {
    background: #7accc8;
    width: 300px;
    height: 40px;
    border: none;
    padding: 5px;
    cursor: pointer;
  }

  .static {
    background-color: #f2ebe2;
    padding: 20px;
  }

  .dynamic-1 {
    background-color: #fcf6ec;
  }

  .response-list-header {
    background-color: #e1e1e1;
    padding: 20px;
  }

  .dynamic-1 ul {
    margin: 0 auto;
    list-style-type: none;
  }

  .dynamic-1 ul li {
    margin: 0px;
    padding: 5px;
  }

  .dynamic-1 ul li:nth-child(even) {
    background-color: #4c9794;
  }

  .dynamic-1 ul li:nth-child(odd) {
    background-color: #7accc8;
  }

  .dynamic-2 {
    background-color: #fff;
  }

  .response-list-titles {
    font-size: 12px;
    margin-bottom: -15px;
  }

  .response-list-blurps {
    font-size: 10px;
  }

  footer {
    font-size: 10px;
  }

  .business_links ul li {
    margin: 0px;
    text-align: left;
    list-style: none;
    display: inline-block;
    padding-left: 10px;
  }

  .copyright {
    padding-right: 10px;
    text-align: right;
  }
}
